* {
  border: 1px /*solid red*/;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navcontact {
  background-color: #0080ff;
}

 .nav-bar {
  background-color: black;
  /*position: absolute;*/
  margin-top: 0px;
  width: 100%;
}

.nav-bar a {
  color: white;
  text-decoration: none;
}

#header ul {
  display: inline-block;
  position: absolute;
  right: 100px;
}

#header li {
  display: inline-block;
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.my-logo {
  height: 60px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}

.map {
  /*width: 40%;*/
  height: 250px;
  width: 340px;
  margin-top: 30px;
}

.contact {
  width: 45%;
  height: 60px;
  float: left;
  padding-right: 10px;
  margin-left: 40px;
  margin-top: 50px;
}

.contact p {
  /*height: 50px;*/
  margin-top: 25px;
  margin-bottom: 20px;
  padding-left: 1px;
}

.contact h3 {
  /*height: 30px;*/
  padding-left: 1px;
  margin-top: 10px;
}

input[type="text"], select, textarea {
  width: 50%;
  padding: 7px;
  margin-top: 10px;
  margin-left: 200px;
  margin-right: 50px;
  margin-bottom: 7px;
  resize: vertical;
  display: block;
  border: 1px solid grey;
}

#user-email {
  padding-left: 10px;
  /*margin-left: 5px;*/
  padding-right: 5px;
  margin-bottom: 15px;
  margin-right: 5px;
}

#user-message {
  /*margin-left: 180px;*/
  margin-bottom: 20px;
  /*padding-top: 100px;*/
  padding-bottom: 100px;
}

.copyright{
  color: white;
}

body {
  background-color: #63dcf2;
}

footer li {
  background-color: black;
  display: inline-block;
  margin-top: 30px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 15px;
  color: white;
}

footer a {
  color: white;
}

footer p {
  position: absolute;
  right: 80px;
  bottom: 15px;
  display: inline-block;
}

footer {
  position: absolute;
  background-color: black;
  /*height: 100px;*/
  bottom: 0px;
  /*top: 0px;*/
  width: 100%;
}

@media (min-width: 790px) { /* Past the tablet setting */

}

@media (min-width: 321px) { /* past mobile, but before dekstop settings */

}

@media (max-width: 320px) { /* mobile settings */
